@page "/type-racer"
@inject HttpClient Http

<h1>Typeracer Game</h1>

<div>
    <p>@TargetText</p>
    <input value="@UserInput" @oninput="HandleInput" disabled="@(!IsGameStarted)" />
    <p>Time: @ElapsedTime seconds</p>
    <p>@GameStatus</p>
    <p>Errors: @MistakesCount</p>
    <p>@(new MarkupString(HighlightedUserInput))</p>
    <button @onclick="StartGame" disabled="@IsGameStarted">Start Game</button>
    <button @onclick="FinishGame" disabled="@(!IsGameStarted)">Finish</button>
</div>
