@page "/word-recall"
@using cognify.Shared
@using cognify.Shared.WordRecall

<h3>Word Recall</h3>

@if (GameStatistics == null || GameStatistics.State == GameState.NotStarted)
	{
		<div class="game-container">
			<button @onclick="StartGame">Start</button>
			<button @onclick="ShowHowToPlay">How To Play</button>

			<HowToPlayDialog IsVisible="isHowToPlayVisible" OnClose="HideHowToPlay" />
		</div>
	}
else if (GameStatistics.State == GameState.InProgress)
	{
		<div class="game-container">
			<p>Current Word:</p>
			<p id="current-word">@currentWord</p>
			<p>Score: @GameStatistics.Score</p>
			<div id="health" data-health="@GameStatistics.Health"></div>

			<button @onclick="() => CheckWord(true)">New</button>
			<button @onclick="() => CheckWord(false)">Seen</button>
		</div>
	}
else
	{
		<div class="game-container">
			<p>Game Finished</p>
			<p>Highscore: @highscore</p>
			<p>Score: @GameStatistics.Score</p>
			<button @onclick="StartGame">Restart</button>
		</div>
  }
